nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"

//* autofill
if ($HOSTNAME == "default"){
    $DOCKER_IMAGE = "quay.io/ummsbiocore/shapemapper2:1.1.2"
}
//* autofill

params.mate = "pair" //* @dropdown @options:"single","pair" @description:"Are sequences paired-end or single-end?"
params.target_fasta = "" //* @input @file @description:" fasta file(s)" @label:"Target sequence (fasta)"
params.named = "" //* @input @optional @description:"Please write the prefix for the study (name)." @label:"Prefix (Name):"
params.modified_fastq = "" //* @input @file @description:"Directory for the modified fastq files" @label:"Modified (fastq)"
params.untreated_fastq = "" //* @input @file @description:"Directory for the untreated fastq files" @label:"Untreated (fastq)"
params.denatured_fastq = "" //* @input @optional @file @description:"Directory for the denatured fastq files" @label:"Denatured (fastq)"
